@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-Ultralight.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-UltralightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0, 0%, 90%;

    --card: 0 0% 10%;
    --card-foreground: 0, 0%, 90%;

    --popover: 0 0% 9%;
    --popover-foreground: 0, 0%, 90%;

    --primary: 252 100% 70%;
    --primary-foreground: 0 0% 9%;

    --secondary: 180 100% 50%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;

    --accent: 300 100% 60%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 100% 60%;
    --destructive-foreground: 0, 0%, 90%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 252 100% 70%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans lowercase overflow-x-hidden;
  }
}

.marquee-container {
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent 100%
  );
  width: 100%;
  max-width: 100%;
}

.slider-container {
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 2%,
    black 98%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 2%,
    black 98%,
    transparent 100%
  );
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee linear infinite;
}

.marquee-content span {
  padding-right: 30px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@media (min-width: 768px) {
  .marquee-container {
    overflow: hidden;
    width: 100%;
    max-width: 15rem;
  }

  .slider-container {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 1%,
      black 99%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 1%,
      black 99%,
      transparent 100%
    );
  }
}
