---
import Container from "@/components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import type { Writings } from "@/lib/definitions";
import PortableText from "@/components/sanity/PortableText.astro";

export async function getStaticPaths() {
  const { data: writings } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "writings"]`,
  });

  return writings.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: writing } = await loadQuery<Writings>({
  query: `*[_type == "writings" && slug.current == $slug][0]`,
  params,
});
---

<Layout>
  <Container>
    <div class="max-w-[75%] mx-auto space-y-12">
      <h1 class="text-3xl text-center font-semibold">{writing.title}</h1>
      <p class="text-center">
        {writing.tldr}
      </p>
      <PortableText portableText={writing.content} />
    </div>
  </Container>
</Layout>
