---
import Container from "~/components/common/container.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout
  content={{
    title: "writings | astroxide",
    description: "cinematic expressions of what i think, feel, see and do",
  }}
>
  <main>
    <Container>
      <div class="space-y-4 md:space-y-6">
        <h1 class="font-serif text-4xl italic md:text-6xl">writings</h1>
        <div class="lg:max-w-[40%]">
          <p class="text-muted-foreground text-lg">
            i had a few pieces of writings but i want to start from scratch now
            (too lazy to migrate them)
          </p>
        </div>
      </div>
    </Container>
  </main>
</Layout>
