---
import AffiliationList from "@/components/affiliation/AffiliationList";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import type { Affiliations, Writings } from "@/lib/definitions";
import { loadQuery } from "@/sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";

export async function getStaticPaths() {
  const { data: affiliations } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "affiliations"]`,
  });

  return affiliations.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: affiliations } = await loadQuery<Affiliations[]>({
  query: `*[_type == "affiliations"] | order(currentlyWorking asc, startDate desc)`,
  params,
});
---

<Layout
  title="affiliatons | astro"
  description="a list of all the startups & projects i've been affiliated with"
>
  <Container className="lg:max-w-[90%]">
    <div class="flex flex-col space-y-8">
      <div class="space-y-4">
        <h1 class="text-4xl font-pangaia lg:text-6xl">affiliations</h1>
        <p class="leading-[150%] tracking-wide text-muted-foreground">
          a list of all the startups & projects i've been affiliated with
        </p>
      </div>
      <div class="">
        <AffiliationList affiliations={affiliations} client:load />
      </div>
    </div>
  </Container>
</Layout>
