---
import Container from "@/components/Container.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { urlForImage } from "@/sanity/lib/urlForImage";
import type { ArchiveImages } from "@/lib/definitions";
import Slider from "@/components/archive/Slider";

const { data: gfx } = await loadQuery<ArchiveImages[]>({
  query: `*[_type == "archiveGFX"] `,
});
const { data: images } = await loadQuery<ArchiveImages[]>({
  query: `*[_type == "archivePhoto"]`,
});

const gfxData = gfx.map((image) => {
  return {
    title: image.title,
    url: urlForImage(image.image).url(),
    webpUrl: urlForImage(image.image).format("webp").url(),
  };
});

const imageData = images.map((image) => {
  return {
    title: image.title,
    url: urlForImage(image.image).url(),
    webpUrl: urlForImage(image.image).format("webp").url(),
  };
});
---

<Layout
  title="archive | astro"
  description="just a random scrapbook of my creativity, mostly in the form of digital arts and photographs."
>
  <Container>
    <div class="space-y-10">
      <div class="space-y-2">
        <h1 class="text-2xl font-bold mb-4">archive</h1>
        <p
          class="leading-[150%] tracking-wide text-muted-foreground text-sm md:text-base"
        >
          just a random scrapbook of my creativity, mostly in the form of
          digital arts and photographs.
        </p>
      </div>

      <div class="space-y-4">
        <h2 class="text-lg font-medium text-muted-foreground">gfx</h2>
        <div class="grid grid-cols-1 gap-2.5 lg:grid-cols-3">
          {
            gfxData.map((image) => (
              <div class="">
                <Image
                  src={image.url}
                  alt={image.title}
                  width={100}
                  height={100}
                  class="w-full h-full object-cover"
                  loading="lazy"
                />
              </div>
            ))
          }
        </div>
      </div>
      <!-- <div class="space-y-4">
        <h2 class="text-lg font-medium text-muted-foreground mb-4">photos</h2>
        <Slider imageData={imageData} client:load />
        <div class="text-center text-sm text-muted-foreground">
          Scroll horizontally to explore more →
        </div>
      </div> -->
    </div>
  </Container>
</Layout>
