---
import Container from "@/components/Container.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { urlForImage } from "@/sanity/lib/urlForImage";
import type { ArchiveImages } from "@/lib/definitions";
import ImageDialog from "@/components/ImageDialog";

const { data: gfx } = await loadQuery<ArchiveImages[]>({
  query: `*[_type == "archiveGFX"] `,
});
const { data: images } = await loadQuery<ArchiveImages[]>({
  query: `*[_type == "archivePhoto"]`,
});

const gfxData = gfx.map((image) => {
  return {
    title: image.title,
    url: urlForImage(image.image).url(),
    webpUrl: urlForImage(image.image).format("webp").url(),
  };
});

const imageData = images.map((image) => {
  return {
    title: image.title,
    url: urlForImage(image.image).url(),
    webpUrl: urlForImage(image.image).format("webp").url(),
  };
});
---

<Layout
  title="archive | astro"
  description="just a random scrapbook of my creativity, mostly in the form of digital arts and photographs."
>
  <Container className="lg:max-w-[80%]">
    <div class="space-y-10">
      <div class="space-y-2">
        <h1 class="font-pangaia text-4xl  lg:text-6xl">archive</h1>
        <p class="leading-[150%] tracking-wide text-muted-foreground">
          just a random scrapbook of my creativity, mostly in the form of
          digital arts and photographs.
        </p>
      </div>

      <div class="space-y-4">
        <h2 class="font-pangaia text-2xl lg:text-4xl text-muted-foreground">gfx</h2>
        <div class="grid grid-cols-1 gap-2.5 lg:grid-cols-3">
          {
            gfxData.map((image) => (
              <div class="">
                <ImageDialog
                  src={image.url}
                  alt={image.title}
                  width={500}
                  height={500}
                  className="w-full h-auto"
                  client:load
                />
              </div>
            ))
          }
        </div>
      </div>

      <div class="space-y-4">
        <h2 class="font-pangaia text-2xl lg:text-4xl text-muted-foreground mb-4">photos</h2>
        <div id="masonryArchive">
          {
            imageData.map((image, index) => (
              <div>
                <ImageDialog
                  src={image.webpUrl}
                  alt={image.title}
                  width={500}
                  height={500}
                  client:load
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </Container>
</Layout>
