---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import ChatForm from "@/components/chat/ChatForm";
---

<Layout title="chat | astro">
  <Container>
    <div class="space-y-4">
      <h1 class="text-2xl font-semibold">Chat</h1>
      <p class="leading-[150%] tracking-wide text-sm md:text-base">
        i'm always open to new opportunities and collaborations. feel free to
        reach out if you'd like to discuss a project or just say hello.
      </p>
      <div class="">
        <ChatForm client:load />
      </div>
    </div>
  </Container>
</Layout>
