---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import ChatForm from "@/components/chat/ChatForm";
---

<Layout
  title="chat | astro"
  description="i'm always open to new opportunities and collaborations."
>
  <Container className="lg:max-w-[80%]">
    <div class="space-y-4">
      <h1 class="font-redaction text-4xl mb-4 lg:text-6xl italic">connect</h1>
      <p
        class="leading-[150%] tracking-wide text-muted-foreground text-sm md:text-lg"
      >
        i'm always open to new opportunities and collaborations. feel free to
        reach out if you'd like to discuss a project or just say hello.
      </p>
      <div class="">
        <ChatForm client:load />
      </div>
    </div>
  </Container>
</Layout>
