---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Link from "@/components/Link.astro";
import { Image } from "astro:assets";

type ImageType = {
  src: string;
};

const images: ImageType[] = [
  { src: "/assets/gallery-image-1.png" },
  { src: "/assets/gallery-image-2.png" },
  { src: "/assets/gallery-image-3.png" },
  { src: "/assets/gallery-image-4.png" },
  { src: "/assets/gallery-image-5.png" },
  { src: "/assets/gallery-image-6.png" },
];
---

<Layout>
  <Container className="lg:max-w-[90%]">
    <div class="space-y-4 pb-16">
      <div id="masonry">
        {
          images.map((image, index) => (
            <div class="rounded-sm">
              <Image
                src={image.src}
                alt={`Image ${index}`}
                height={300}
                width={200}
                loading="lazy"
                decoding="async"
              />
            </div>
          ))
        }
      </div>
      <h1 class="text-4xl font-pangaia">
        jack of all trades, master of all too
      </h1>
      <div class="space-y-4 text-muted-foreground">
        <p>
          heyy!! im advait, a multidisciplinary engineer obsessed with building
          scalable, high-perf apps with a focus on scalable code and clean
          design.
        </p>
        <p>
          my fav. tech stack is nextjs, trpc and drizzleorm, also falling in
          love with rust. im rlly interested in web3, ml, systems design, vfx,
          designing and music.
        </p>
        <p>
          outside of tech, i'm all about exploring creative works. back in 2022,
          i was dropping AMVs on insta and also did some graphic designing
          (check out <Link href="/archive">archive</Link>).
        </p>
      </div>
    </div>
  </Container>
</Layout>
