---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Link from "@/components/Link.astro";
import { Image, getImage } from "astro:assets";
import galleryImage1 from "../assets/gallery-image-1.png";
import galleryImage2 from "../assets/gallery-image-2.png";
import galleryImage3 from "../assets/gallery-image-3.png";
import galleryImage4 from "../assets/gallery-image-4.png";
import galleryImage5 from "../assets/gallery-image-5.png";
import galleryImage6 from "../assets/gallery-image-6.png";

export const prerender = true;

const images = [
  galleryImage1,
  galleryImage2,
  galleryImage3,
  galleryImage4,
  galleryImage5,
  galleryImage6,
];
---

<Layout>
  <Container className="lg:max-w-[90%]">
    <div class="space-y-4 pb-16">
      <div id="masonry">
        {
          images.map(async (image, index) => {
            const webpImage = await getImage({ src: image, format: "webp" });
            return (
              <div class="rounded-sm">
                <Image
                  src={webpImage.src}
                  alt={`Image ${index + 1}`}
                  width="800"
                  height="600"
                  loading="eager"
                />
              </div>
            );
          })
        }
      </div>
      <h1 class="text-4xl font-pangaia">
        jack of all trades, master of all too
      </h1>
      <div class="space-y-4 text-muted-foreground">
        <p>
          heyy!! im advait, a multidisciplinary engineer obsessed with building
          scalable, high-perf apps with a focus on scalable code and clean
          design.
        </p>
        <p>
          my fav. tech stack is nextjs, trpc and drizzleorm, also falling in
          love with rust. im rlly interested in web3, ml, systems design, vfx,
          designing and music.
        </p>
        <p>
          outside of tech, i'm all about exploring creative works. back in 2022,
          i was dropping AMVs on insta and also did some graphic designing
          (check out <Link href="/archive">archive</Link>).
        </p>
      </div>
    </div>
  </Container>
</Layout>
