---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Link from "@/components/Link.astro";
import { Image } from "astro:assets";
---

<Layout>
  <Container>
    <div class="space-y-6 lg:flex lg:justify-between lg:items-end">
      <div class="space-y-6 text-sm">
        <p class="leading-[150%] tracking-wide">
          i'm a multidisciplinary engineer focused on building scalable and
          performant applications. i enjoy crafting minimal user-interfaces and
          robust backends while exploring emerging technologies
        </p>

        <div class="border-t pt-2 space-y-2.5">
          <h2 class="font-medium">information</h2>
          <div class="pl-2 space-y-2">
            <p class="leading-[150%] tracking-wide">
              i'm keen about music, vfx and photography. in the past i used to
              post amvs on instagram (back in 2022). feel free to check out my
              work in the <Link href="/archive">archive</Link>
            </p>
            <p class="leading-[150%] tracking-wide">
              moreover my goal is to build products that have immaculate UX -
              whether through building my own thing or helping other people with
              theirs (<Link href="/chat">hmu</Link>
              for collaborations)
            </p>
          </div>
        </div>

        <div class="border-t pt-2 space-y-2.5">
          <h2 class="font-medium">affiliations</h2>
          <div class="grid grid-cols-1 gap-4 pl-2 md:grid-cols-2">
            <div class="space-y-1">
              <h3>WNE3 (Lead Eng.)</h3>
              <p class="text-xs text-muted-foreground pl-2">
                05/2022 - Present
              </p>
            </div>
            <div class="space-y-1">
              <h3>Sanity Gaming (SWE Intern)</h3>
              <p class="text-xs text-muted-foreground pl-2">
                05/2022 - Present
              </p>
            </div>
            <div class="space-y-1">
              <h3>Grass Labs (Freelance SWE)</h3>
              <p class="text-xs text-muted-foreground pl-2">
                05/2022 - Present
              </p>
            </div>
            <div class="space-y-1">
              <h3>DreamSkrin (Full stack eng.)</h3>
              <p class="text-xs text-muted-foreground pl-2">
                05/2022 - Present
              </p>
            </div>
            <div class="space-y-1">
              <h3>Salad & Tartine (Tech Intern)</h3>
              <p class="text-xs text-muted-foreground pl-2">
                05/2022 - Present
              </p>
            </div>
          </div>
        </div>

        <div class="border-t pt-2 space-y-2.5">
          <h2 class="font-medium">endeavours</h2>
          <ul class="space-y-2.5 list-disc list-inside pl-2">
            <li>
              Built <Link blank={true} href="https://indielettr.com"
                >IndieLettr</Link
              > - empowering indie creators and small businesses to reach their audience.
            </li>
            <li>currently exploring web3 and ml</li>
          </ul>
        </div>
      </div>
      <div class="w-[450px] md:w-[250px] lg:w-[450px] md:ml-auto">
        <Image
          src="/Runner.svg"
          alt="Runner"
          width={450}
          height={450}
          class="w-[180px] h-[180px] md:w-full md:h-full ml-auto"
        />
      </div>
    </div>
  </Container>
</Layout>
