---
import Container from "~/components/common/container.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import city from "~/assets/home/city.png";
import ramen from "~/assets/home/ramen.png";
import perspective from "~/assets/home/perspective.png";
import back2back from "~/assets/home/back2back.png";
import Link from "~/components/common/link.astro";
import { getImage } from "astro:assets";
import Tooltip from "~/components/common/tooltip.astro";
import { cn } from "~/lib/utils";

const images = [
  { src: back2back, alt: "back2back" },
  { src: perspective, alt: "perspective" },
  { src: ramen, alt: "ramen" },
  { src: city, alt: "city" },
];
---

<Layout
  content={{
    title: "advtxide",
    description:
      "multi-disciplinary engineer, obsessed with scale, speed and aesthetics",
  }}
>
  <main class="">
    <Container>
      <div
        class="flex flex-col space-y-6 lg:flex-row lg:items-start lg:justify-between lg:space-y-0"
      >
        <div class="space-y-8 lg:max-w-[45%] lg:pl-4">
          <div class="space-y-2 font-light">
            <h1 class="font-serif text-4xl italic md:text-6xl">
              advait <span class="text-xl md:text-4xl">(advtxide)</span>
            </h1>
            <p
              class="font-serif text-2xl leading-[120%] [word-spacing:0.15rem] md:text-4xl"
            >
              multi-disciplinary engineer, obsessed with scale, speed and
              aesthetics
            </p>
          </div>
          <div class="text-muted-foreground space-y-4 text-lg">
            <p>
              i love doing things that look good while doing it. im really
              obsessive about good design, typography and ux (in pretty much
              everything around me)
            </p>
            <p>
              shipped across 5+ startups &mdash; freelance, intern, part-time.
              currently im working on side-gigs and iterating in stealth over at
              my <Link target="_blank" href="https://celestialabs.vercel.app"
                >little imaginary lab</Link
              >.
            </p>
            <p>
              outside tech, i've always had an itch for creative stuff &mdash;
              music, design, visuals etc. i used to post anime video edits,
              tried my luck at graphics and music production too.
            </p>
            <p>
              i don't really measure myself by titles, roles or a fixed timeline
              bcs of my belief in the principles of <Tooltip
                content="owning my choices so fully that I can walk away from them freely."
              >
                <Link href="/vairagya">vairagya</Link>
              </Tooltip>
            </p>
          </div>
        </div>

        <div
          id="masonry"
          class={cn(
            "gap-x-2 leading-0 ",
            "[-moz-column-count:2] [-moz-column-gap:8px] [-webkit-column-count:2] [-webkit-column-gap:8px] [column-count:2]",
            "md:[-moz-column-count:3]  md:[-webkit-column-count:3] md:[column-count:3]",
            "lg:[-moz-column-count:2]  lg:[-webkit-column-count:2] lg:[column-count:2]"
          )}
        >
          {
            images.map(async ({ src, alt }, idx) => {
              const webpImage = await getImage({ src, format: "webp" });

              return (
                <Image
                  src={webpImage.src}
                  alt={alt}
                  width="800"
                  height="600"
                  class="mb-2 h-auto w-3xs cursor-zoom-in rounded grayscale"
                  data-full={webpImage.src}
                />
              );
            })
          }
        </div>
      </div>

      <div
        id="previewModal"
        class="fixed inset-0 z-50 hidden items-center justify-center bg-black/80"
      >
        <img
          id="previewImg"
          src=""
          alt="full preview"
          class="max-h-[90%] max-w-[90%] rounded-lg shadow-lg"
        />
      </div>
    </Container>
  </main>
</Layout>
