---
import Container from "@/components/Container.astro";
import MusicList from "@/components/music/music-list";
import Layout from "@/layouts/Layout.astro";
import { PlayCircle } from "lucide-react";
import { Image } from "astro:assets";
import SpotifyNowListening from "@/components/SpotifyNowListening";

const url = Astro.url.origin;

const res = await fetch(`${url}/api/spotify`);
const data = await res.json();
---

<Layout>
  <Container className="lg:max-w-[90%]">
    <div class="space-y-8">
      <div class="space-y-4">
        <h1 class="text-4xl font-pangaia lg:text-6xl">music</h1>
        <div class="text-muted-foreground">
          <p>
            I listen to a plethora of music, but mainly in the genres of rap,
            hip-hop, indie, rock and r&amp;b.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-8 lg:flex-row lg:items-start lg:gap-12">
        <div class="flex-1 flex-col gap-4">
          <h2 class="text-3xl font-pangaia pb-4">Songs of the month</h2>
          <MusicList songs={data.topTracksThisMonth} client:load />
          <div class="w-[400px] rounded-sm">
            <Image
              src="/assets/theweeknd.png"
              alt="gallery image"
              width={400}
              height={600}
              class="rounded-sm mt-4"
            />
          </div>
        </div>
        <div class="w-fit">
          <h2 class="text-3xl font-pangaia pb-2">Currently Listening</h2>
          <SpotifyNowListening client:load />
        </div>
      </div>
    </div>
  </Container>
</Layout>
