---
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import Layout from "@/layouts/Layout.astro";

export const prerender = false;

const ip = Astro.clientAddress;
---

<Layout
  title="onlyfans | astro"
  description="Subscribe to my onlyfans channel xoxo!"
>
  <Container>
    <div
      class="min-h-[50vh] flex flex-col items-center justify-center text-center"
    >
      <div class="space-y-6 md:space-y-4">
        <div class="space-y-2">
          <h1 class="text-3xl md:text-4xl font-pangaia">
            Apparently no onlyfans here
          </h1>
          <p class="font-medium text-muted-foreground">
            but i got your ip address nevertheless
          </p>
        </div>
        <p class="font-bold text-xl">{ip}</p>
        <p class="text-sm md:text-base md:w-3/4 mx-auto leading-[150%]">
          do check out the rest of my <Link href="/">portfolio</Link> though, or
          maybe the current <Link href="/music">music</Link> in my rotation!
        </p>
      </div>
    </div>
  </Container>
</Layout>
