---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "@/components/projects/ProjectList";
import { loadQuery } from "@/sanity/lib/load-query";
import type { Projects } from "@/lib/definitions";

const { data: projects } = await loadQuery<Projects[]>({
  query: `*[_type == "projects"] | order(_createdAt asc)`,
});
---

<Layout title="projects | astro">
  <Container>
    <div class="flex flex-col space-y-12">
      <div class="space-y-4">
        <h1 class="text-2xl font-semibold">projects</h1>
        <p
          class="leading-[150%] tracking-wide text-muted-foreground text-sm md:text-base"
        >
          an assortment of my works, ranging from my involvements in
          professional paradigms and indie adventures in code.
        </p>

        <!-- Use ProjectList here -->
        <div class="">
          <ProjectList projects={projects} client:load />
        </div>
      </div>
    </div>
  </Container>
</Layout>
