---
import Container from "@/components/Container.astro";
import Layout from "../layouts/Layout.astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../sanity/lib/load-query";
import type { Writings } from "@/lib/definitions";
import { cn } from "@/lib/utils";
import ThoughtsList from "@/components/thoughts/ThoughtsList";

export const prerender = false;

export async function getStaticPaths() {
  const { data: writings } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "writings"]`,
  });

  return writings.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: writings } = await loadQuery<Writings[]>({
  query: `*[_type == "writings"] | order(_createdAt desc)`,
  params,
});
---

<Layout
  title="writings | astro"
  description="A journal of random tidbits, ranging from thoughts and experiences from my journey through life and code."
>
  <Container className="lg:max-w-[90%]">
    <div class="flex flex-col space-y-8">
      <div class="space-y-4">
        <h1 class="text-4xl font-pangaia lg:text-6xl">thoughts</h1>
        <p class="leading-[150%] tracking-wide text-muted-foreground">
          A journal of random tidbits, ranging from thoughts and experiences
          from my journey through life and code.
        </p>
      </div>
      <div class="">
        <ThoughtsList writings={writings} client:load />
      </div>
    </div>
  </Container>
</Layout>
