---
import Container from "~/components/common/container.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout
  content={{
    title: "Vairagya",
    description:
      "Vairagya is a Sanskrit word that means dispassion/detachment. This page explains how i adopt the philosophy of Vairagya in my life.",
  }}
>
  <main>
    <Container>
      <div class="space-y-4 lg:max-w-[45%] lg:pl-4">
        <h1 class="font-serif text-5xl italic md:text-6xl">Vairagya</h1>
        <p class="text-muted-foreground text-lg">
          <p>/vaɪˈrɑːɡjə/</p>
        </p>
        <p class="text-lg md:text-xl">
          n. Sanskrit. The practice of detachment; liberation from worldly
          attachments through dispassion and renunciation.
        </p>
        <p class="">my interpretation</p>
        <blockquote class="text-muted-foreground border-l-2 pl-2 font-medium">
          I don&apos;t see vairāgya as withdrawal. I see it as movement &mdash;
          from one form of creation to another. I pour myself into things fully,
          then leave without guilt when they&apos;ve served their purpose. I
          rebuild what breaks, I unlearn what&apos;s stale, and I keep searching
          for the calm between chaos and clarity.
        </blockquote>
      </div>
    </Container>
  </main>
</Layout>
