---
import Container from "~/components/common/container.astro";
import Layout from "~/layouts/Layout.astro";
import { format } from "date-fns";
import { basehub } from "~/lib/basehub";
import WorksList from "~/components/works/works-list";

const {
  works: { items: works },
} = await basehub.query({
  works: {
    __args: { orderBy: "date__DESC" },
    items: {
      _title: true,
      role: true,
      description: true,
      date: true,
      url: true,
      _id: true,
    },
  },
});
---

<Layout
  content={{
    title: "works | astroxide",
    description: "index of the works/projects i was involved in",
  }}
>
  <main>
    <Container>
      <div class="space-y-4">
        <div class="lg:max-w-[40%] space-y-4">
          <h1 class="font-serif text-4xl italic md:text-6xl">works</h1>
          <p class="text-muted-foreground text-lg">
            the list includes all the startups, products and experiments i
            am/was affiliated with so far
          </p>
        </div>
        <WorksList works={works as TWork[]} client:load />
      </div>
    </Container>
  </main>
</Layout>
