---
import type { Affiliations } from "@/lib/definitions";

interface Props {
  affiliation: Affiliations;
}
const { affiliation } = Astro.props;
---

<>
  {
    (
      <div class="space-y-0.5">
        <h3>{`${affiliation.company} (${affiliation.position})`}</h3>
        <p class="text-sm text-muted-foreground pl-2">
          {`${new Date(affiliation.startDate).toLocaleDateString("en-GB", {
            month: "2-digit",
            year: "numeric",
          })} - ${
            affiliation.endDate
              ? new Date(affiliation.endDate).toLocaleDateString("en-GB", {
                  month: "2-digit",
                  year: "numeric",
                })
              : "Present"
          }`}
        </p>
      </div>
    )
  }
</>
