---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className }: Props = Astro.props;
---

<main class={cn("px-2.5 py-6 lg:w-[85%]", className ? className : "")}>
  <slot />
</main>
