---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className }: Props = Astro.props;
---

<div class={cn("px-2.5 py-6 lg:py-8", className ? className : "")}>
  <slot />
</div>
