---
import Container from "./Container.astro";
import Link from "./Link.astro";

const socials = [
  { href: "https://twitter.com/777advait", label: "twitter" },
  { href: "https://github.com/777advait", label: "github" },
  { href: "mailto:advait.nsj@proton.me", label: "advait.nsj@proton.me" },
];
---

<Container className="lg:max-w-[80%]">
  <footer class="py-2.5 border-t">
  <div class="px-1.5 py-2">
    <div class="">
      <div class="flex flex-wrap items-center">
        {
          socials.map((social, index) => (
            <li class="flex items-center">
              <Link className="" blank={true} href={social.href}>
                {social.label}
              </Link>
              {index != socials.length - 1 && (
                <span aria-hidden="true" class="select-none px-2">
                  •
                </span>
              )}
            </li>
          ))
        }
      </div>
    </div>
  </div>
</footer>

</Container>