---
import Link from "./Link.astro";
import SpotifyNowListening from "./SpotifyNowListening";
import Timer from "./Timer";

const socials = [
  { href: "https://twitter.com/777advait", label: "twitter" },
  { href: "https://github.com/777advait", label: "github" },
  { href: "https://www.linkedin.com/in/777advait", label: "linkedin" },
  { href: "mailto:advait.nsj@proton.me", label: "advait.nsj@proton.me" },
];
---

<footer class="py-4 border-t">
  <div class="px-2.5 py-6">
    <div class="space-y-8">
      <div class="flex flex-wrap items-center">
        {
          socials.map((social, index) => (
            <li class="flex items-center">
              <Link className="md:text-base" blank={true} href={social.href}>
                {social.label}
              </Link>
              {index != 3 && (
                <span aria-hidden="true" class="select-none px-2">
                  •
                </span>
              )}
            </li>
          ))
        }
      </div>
      <div
        class="flex flex-col gap-2 md:flex-row md:justify-between md:items-center"
      >
        <Timer client:only="react" />
        <SpotifyNowListening client:only="react" />
      </div>
    </div>
  </div>
</footer>
