---
type Props = {
  content: string;
};

const { content } = Astro.props;
---

<span class="relative inline-block">
  <!-- trigger -->
  <span class="peer inline-block">
    <slot />
  </span>

  <!-- tooltip -->
  <span
    class="bg-muted text-muted-foreground pointer-events-none absolute bottom-full left-1/2 mb-0.5 w-max max-w-60 -translate-x-1/2 rounded px-2 py-1 text-center text-base font-medium opacity-0 shadow-2xl transition-all duration-300 peer-hover:-translate-y-1 peer-hover:opacity-100"
  >
    {content}
  </span>
</span>
