---
import Footer from '@/components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import "@/styles/global.css"
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? "astro - developer, explorer."}</title>
		<ViewTransitions />
	</head>
	<body class={`max-w-[90%] mx-auto py-12 antialiased lg:max-w-[55%]`}>
		<Navbar client:load />
		<slot />
		<Footer />
	</body>
</html>
